---
import { escapeHTML } from 'astro/runtime/server/escape.js';
import { getCollection } from 'astro:content';

import appleTouchIcon from '../../assets/apple-touch-icon.png';
import favicon16 from '../../assets/favicon-16x16.png';
import favicon32 from '../../assets/favicon-32x32.png';
import logoIndex from '../../assets/logo-index.svg';
import logo from '../../assets/logo.png';
import safariPinnedTab from '../../assets/safari-pinned-tab.svg';
import WdChangelogLoader from '../data/changelog';
import Layout from '../layouts/Layout/Layout.astro';
import getFileSlugFromId from '../utils/get-file-slug-from-slug';
import getPathFromSlug from '../utils/get-path-from-slug';

import '../styles/index.scss';

const CHANGE_REGEXP =
  /(Оновлен{2}я перекладу|Переклад)\((\w+)\):<\/strong> (\S+)/g;

const TITLE = 'Про веб, у вебі, для вебу | ВебДоки';
const DESCRIptION =
  'Проєкт Webdoky — це зібрання інформації про технології відкритого вебу. HTML, CSS, JavaScript, та API, як для вебсайтів, так і для прогресивних вебзастосунків';
const { BASE_PATH } = import.meta.env;
const { TARGET_LOCALE } = import.meta.env;
const CANONICAL_URL = `${BASE_PATH}/`;
async function populateChangelogWithLinks(changelog: string) {
  const entries = await getCollection('translatedContent');
  const fileSlugToTitle = new Map<string, string>(
    entries.map((entry) => [getFileSlugFromId(entry.id), entry.data.title]),
  );
  const fileSlugToSlug = new Map<string, string>(
    entries.map((entry) => [getFileSlugFromId(entry.id), entry.slug]),
  );
  console.log('fileSlugToSlug', fileSlugToSlug);
  return changelog.replaceAll(CHANGE_REGEXP, (_, action, section, fileSlug) => {
    const slug = fileSlugToSlug.get(fileSlug);
    if (slug) {
      const path = getPathFromSlug(slug);
      const title = fileSlugToTitle.get(fileSlug);
      // console.log("title", title);
      if (title) {
        return `${action}(${section}):</strong> <a href="${path}">${escapeHTML(
          title,
        )}</a>`;
      }
    }
    console.log('No title for slug', fileSlug);
    return `${action}(${section}):</strong> ${fileSlug}`;
  });
}
const changelogs = await WdChangelogLoader.getAll();
// console.log(changelogs);
if (changelogs.length === 0) {
  throw new Error('No changelogs found');
}

let changeLogContent = changelogs[0]?.content || '';
// console.log("changeLogContent", changeLogContent);
changeLogContent = await populateChangelogWithLinks(changeLogContent);
---

<Layout title={TITLE}>
  <Fragment slot="head">
    <meta name="description" content={DESCRIptION} />

    {/* OG */}
    <meta property="og:title" name="og:title" content={TITLE} />
    <meta
      property="og:description"
      name="og:description"
      content={DESCRIptION}
    />
    <meta property="og:image" name="og:image" content={logo.src} />
    <meta property="og:locale" name="og:locale" content="uk-UA" />
    <meta property="og:url" name="og:url" content={CANONICAL_URL} />

    {/* Twitter card */}
    <meta property="twitter:title" name="twitter:title" content={TITLE} />
    <meta
      property="twitter:description"
      name="twitter:description"
      content={DESCRIptION}
    />
    <meta property="twitter:image" name="twitter:image" content={logo.src} />

    {/* Favicons */}
    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
    <link rel="icon" type="image/png" sizes="32x32" href={favicon32.src} />
    <link rel="icon" type="image/png" sizes="16x16" href={favicon16.src} />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href={safariPinnedTab.src} color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    {/* Other */}
    {CANONICAL_URL && <link rel="canonical" href={CANONICAL_URL} />}
  </Fragment>
  <div class="pt-8 md:pt-16">
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center mb-2 text-ui-primary">
        <img src={logoIndex.src} alt="WebDoky" height="80" width="80" />
        <p class="text-3xl text-6xl font-black tracking-tighter border-none">
          WebDoky
        </p>
      </div>
      <h1 class="text-4xl text-center lg:text-5xl">
        Ресурси та документація. <br />
        Від розробників — для розробників
      </h1>
      <div class="flex p-2 flex-wrap justify-center">
        <a
          href={`/${TARGET_LOCALE}/docs/Web/JavaScript/`}
          class="p-2 mx-5 border-b border-ui-border no-underline text-ui-typo">
          JavaScript &#8594;
        </a>
        <a
          href={`/${TARGET_LOCALE}/docs/Web/CSS/`}
          class="p-2 mx-5 border-b border-ui-border no-underline text-ui-typo">
          CSS &#8594;
        </a>
        <a
          href={`/${TARGET_LOCALE}/docs/Web/HTML/`}
          class="p-2 mx-5 border-b border-ui-border no-underline text-ui-typo">
          HTML &#8594;
        </a>
      </div>
    </div>

    <div
      class="pt-8 mx-auto mt-8 border-t md:mt-16 md:pt-16 border-top border-ui-border max-w-screen-sm">
    </div>

    <div class="section-info flex flex-wrap justify-center -mx-4">
      <div class="flex flex-col w-full px-4 mb-8 md:w-2/3">
        <h2 class="font-bold tracking-wide uppercase mb-0">Що нового</h2>
        <p class="mb-0">
          Найсвіжіші оновлення з нашого{' '}
          <a
            href="https://github.com/webdoky/content/"
            target="_blank"
            rel="noopener noreferrer">
            репозиторію
          </a>
        </p>
        <div class="border-ui-border w-1/4 border-b mb-5 mt-1"></div>

        <div class="changelog" set:html={changeLogContent} />
      </div>

      <div class="border-ui-border w-1/4 border-b mb-3 mt-4"></div>
      <a
        href="https://github.com/webdoky/content/blob/master/CHANGELOG.md"
        target="_blank"
        rel="noopener noreferrer">
        Вся історія версій
      </a>
    </div>

    <div class="flex flex-col w-full px-4 mb-8 md:w-1/3">
      <h2 class="sr-only">Про нас</h2>
      <p class="text-lg text-left">
        WebDoky (ВебДоки) — це проект, покликаний зробити вміст MDN Web Docs
        доступним українською мовою.
      </p>
      <h3 class="font-bold tracking-wide uppercase">Долучитись</h3>
      <p class="text-lg text-left">
        WebDoky — це відкритий проєкт, і будь-хто може долучитися і допомогти
        нам робити вебдокументацію доступною для україномовних читачів.{' '}
        <a href="/docs/"> Докладніше — в розділі &quot;Про проєкт&quot;</a>
      </p>
    </div>
  </div>
</Layout>

<style>
  .section-info a {
    text-decoration: underline;
  }

  /* .changelog li {
    margin-bottom: 0.5em;
  }*/
</style>
