---
import getAbsoluteUrl from '../utils/get-absolute-url.ts';
import appleTouchIcon from '../../assets/apple-touch-icon.png';
import favicon32 from '../../assets/favicon-32x32.png';
import favicon16 from '../../assets/favicon-16x16.png';
import logo from '../../assets/logo.png';
import safariPinnedTab from '../../assets/safari-pinned-tab.svg';
import normalizeUrl from '../utils/normalize-url.ts';

import GoogleAnalyticsScript from './GoogleAnalyticsScript.astro';

export interface Props {
  canonicalPath: string;
  title: string;
  description: string;
  image?: string;
  // url: string;
  // date: string;
  // tags: string[];
}
const { canonicalPath, description, image: coverImage, title } = Astro.props;
const BASE_PATH = import.meta.env.BASE_PATH;
const canonicalUrl = normalizeUrl(`${BASE_PATH}${canonicalPath}`);
const image = getAbsoluteUrl(coverImage ?? logo.src);
---

<title>{title}</title>
<meta name="description" content={description} />

{/* OG */}
<meta property="og:title" name="og:title" content={title} />
<meta property="og:description" name="og:description" content={description} />
<meta property="og:image" name="og:image" content={image} />
<meta property="og:locale" name="og:locale" content="uk-UA" />
<meta property="og:url" name="og:url" content={canonicalUrl} />

{/* Twitter card */}
<meta property="twitter:title" name="twitter:title" content={title} />
<meta
  property="twitter:description"
  name="twitter:description"
  content={description}
/>
<meta
  property="twitter:image"
  name="twitter:image"
  content={getAbsoluteUrl(image)}
/>

{/* Favicons */}
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href={getAbsoluteUrl(appleTouchIcon.src)}
/>
<link
  rel="icon"
  type={`image/${favicon32.format}`}
  sizes="32x32"
  href={getAbsoluteUrl(favicon32.src)}
/>
<link
  rel="icon"
  type={`image/${favicon16.format}`}
  sizes="16x16"
  href={getAbsoluteUrl(favicon16.src)}
/>
<link rel="manifest" href="/site.webmanifest" />
<link
  rel="mask-icon"
  href={getAbsoluteUrl(safariPinnedTab.src)}
  color="#5bbad5"
/>
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

{/* Other */}
{canonicalUrl && <link rel="canonical" href={canonicalUrl} />}

<!-- {robots && <meta property="robots" name="robots" content={robots} />} -->

<GoogleAnalyticsScript />
